.breadcrumb
  line-height: 1.4
  font-family: 'Roboto', sans-serif


  &__wrap
    display: flex
    padding-top: 30px
    padding-bottom: 20px
    border-bottom: 2px solid $main-color


  &__link
    padding-right: 10px
    margin-right: 5px
    position: relative
    color: #898989
    border-bottom: 1px solid transparent
    &:hover
      border-bottom: 1px solid #898989

    &:before
      content: '/'
      display: block
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
      @extend %700

    &:last-child
      color: $black
      pointer-events: none
      @extend %700
      &:before
        display: none