.btn
  height: 35px
  min-width: 140px
  width: max-content
  border: 1px solid $main-color
  display: inline-flex 
  align-items: center
  justify-content: center
  transition: all ease .3s
  font-size: 16px
  color: black
  cursor: pointer
  padding: 0 25px
  background-color: $main-color
  @extend %700
  @media screen and (max-width: 639px)
    font-size: 14px




  &--white
    border: 3px solid $main-color
    background-color: $white
    @extend %700


.btn--transparent
  border: 4px solid white
  background-color: transparent