.header
  background-color: $main-color
  padding: 25px 0
  position: relative
  z-index: 11

  &__wrap
    @extend %fb
    @extend %fy

  &__nav
    display: flex
    gap: 35px
    @media screen and (max-width: 1023px)
      position: absolute
      background-color: $white
      padding: 20px
      flex-direction: column
      top: 100%
      right: 0
      left: 0
      z-index: 1
      display: none

  &__nav-item
    border-bottom: 1px solid $transparent

    &:hover
      border-bottom: 1px solid $black

    @media screen and (max-width: 1023px)
      padding: 5px
      display: block
      &:hover
        background-color: $main-color
        border-bottom: 1px solid $transparent

  &__burger
    display: none
    cursor: pointer
    @media screen and (max-width: 1023px)
      display: block


  &__buttons
    @extend %fy
    gap: 25px

    img
      height: 20px


  &__basket
    position: relative


  &__basket-counter
    width: 20px
    height: 20px 
    @include r(50%)
    color: $white
    background-color: $black
    @extend %fc
    font-size: 10px
    position: absolute
    top: 0
    right: 0
    transform: translate(50%, -50%)