.gap
  margin-bottom: 20px
  @media screen and (max-width: 1023px)
    margin-bottom: 10px


.advices
  &__back
    margin-top: 50px
    margin-bottom: 50px
    @extend %fc
    gap: 10px
    padding: 20px
    background-color: #fafafa
    display: inline-flex !important

    svg
      transform: scale(0.7)

  &__wrap
    display: grid
    grid-template-columns: auto 300px
    grid-gap: 30px
    @media screen and (max-width: 1366px)
      grid-template-columns: 1fr


  &__img
    width: 420px
    height: 420px
    flex-shrink: 0
    @media screen and (max-width: 1023px)
      width: 290px
      height: 290px


  &__article
    display: flex
    gap: 30px
    margin-bottom: 50px
    @media screen and (max-width: 1023px)
      flex-direction: column


  &__tags
    @extend %fy
    gap: 15px
    @media screen and (max-width: 639px)
      gap: 5px

  &__tag
    padding: 5px 15px
    @extend %700
    border: 3px solid $main-color
    @include r(24px)
    @media screen and (max-width: 639px)
      padding: 5px 10px
      font-size: 13px


  &__list
    display: flex
    margin-bottom: 50px
    @media screen and (max-width: 1023px)
      flex-direction: column


  &__num
    font-size: 130px
    line-height: 1
    @extend %700
    color: $main-color
    position: relative
    text-align: center

    span
      color: $black
      position: absolute
      transform: translateY(10px)

    strong
      z-index: 2
      position: relative

  &__item
    width: 100%
    padding: 60px
    text-align: center

    > strong, > span
      font-size: 20px

    &:nth-child(1)
      background-color: #fafafa

    &:nth-child(2)
      background-color: $main-color

      .advices__num
        color: $white

    &:nth-child(3)
      background-color: #422164
      color: $white

  &__video
    height: 500px
    display: block
    @media screen and (max-width: 1366px)
      height: 300px

    @media screen and (max-width: 639px)
      height: 170px

  &__video-block
    padding-bottom: 70px
    //border-bottom: 2px solid $main-color

  &__sidebar
    position: sticky
    top: 0
    height: max-content


  &__sidebar-item
    display: flex
    gap: 15px
    margin-bottom: 30px
    @extend %lc

  &__sidebar-img
    width: 115px
    height: 115px

  &__sidebar-text
    font-size: 14px

    .h2
      font-size: 17px
      margin-bottom: 0
      @media screen and (max-width: 639px)
        font-size: 16px








