.about-us-banner
  @include py(80px, 80px, 80px, 60px, 30px)
  background-image: url("../../images/about-us-banner/1.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  @media screen and (max-width: 639px)
    background-image: url("../../images/about-us-banner/2.jpg")
    background-position: bottom



  &__wrap
    text-align: center
    max-width: 705px
    margin: 0 auto
    @media screen and (max-width: 639px)
      height: 730px
      display: flex
      align-items: center
      flex-direction: column
      justify-content: center

    .h1
      @extend %up
      @include f(68px, 50px, 40px, 40px, 40px)
      @extend %700
      margin-bottom: 30px
      @media screen and (max-width: 639px)
        margin-bottom: 20px


.about-us-core
  overflow: hidden

  &__block
    @include py(100px, 100px, 80px, 60px, 30px)
    @include px(30px, 30px, 20px, 20px, 10px)


    position: relative
    @media screen and (max-width: 1919px)
      display: flex
      gap: 30px
    @media screen and (max-width: 1023px)
      display: block

    &:nth-child(1)
      @media screen and (max-width: 1919px)
        position: relative
        bottom: -50px
      @media screen and (max-width: 1599px)
      	bottom: 0









    &:nth-child(3)
      @include py(130px, 100px, 80px, 60px, 30px)

      .about-us-core__content

        margin-left: auto
        margin-right: 170px
        max-width: 500px
        flex-direction: column
        display: flex
        justify-content: center
        @media screen and (max-width: 1023px)
          max-width: 100%
          margin-right: 0


        &:before
          content: ''
          height: 280px
          position: absolute
          display: block
          width: 380px
          background-color: $main-color
          right: 0
          transform: translate(75%, -50%)
          top: 50%
          @media screen and (max-width: 1023px)
            display: none


    &:nth-child(2)
      background-color: $main-color
      width: 85%

      strong
        font-size: 20px
        @media screen and (max-width: 639px)
          font-size: 16px
          margin-top: 30px


      @media screen and (max-width: 1023px)
        width: 100%

      &:before
        content: ''
        height: 100%
        position: absolute
        display: block
        width: 100vw
        background-color: $main-color
        left: 0
        top: 0
        transform: translateX(-100%)
        @media screen and (max-width: 1023px)
          width: 16vw





      &:after
        content: ''
        height: 100%
        position: absolute
        width: 100vw
        background-color: $main-color
        right: 0
        top: 0
        transform: translateX(100%)
        display: none
        @media screen and (max-width: 1023px)
          display: block


  &__content
    max-width: 650px
    @media screen and (max-width: 1919px)
      max-width: 100%

  &__mobile-right
    text-align: right


  &__img
    position: absolute
    width: 620px
    z-index: 1
    right: 0
    top: 0

    img
      width: 100%
      @media screen and (max-width: 1599px)
        max-width: 420px

    @media screen and (max-width: 1919px)
      margin-bottom: -75px
      width: 75%
      position: relative
    @media screen and (max-width: 639px)
      width: 100%
      margin-left: auto
      margin-top: 30px


  &__block:nth-child(1)
    .about-us-core__content
      max-width: 620px
      padding-top: 50px
      @media screen and (max-width: 1919px)
        padding-top: 100px
      @media screen and (max-width: 1599px)
        padding-top: 0








    .about-us-core__img
      //@media screen and (max-width: 1919px)
      //  scale: 1.2
      //@media screen and (max-width: 1599px)
      //  scale: 1









  &__block:nth-child(3)
    .about-us-core__img
      width: 335px
      right: auto
      left: 100px
      top: 60px
      @media screen and (max-width: 1919px)
        top: 0
        width: 100%
        left: 0
        margin-bottom: 55px


.about-us-footer

  @include py(70px, 70px, 70px, 60px, 30px)
  background-image: url("../../images/about-us-footer/3.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  @media screen and (max-width: 639px)
    background-image: url("../../images/about-us-footer/4.jpg")
    height: 610px
    text-align: center
    background-position: bottom


  &__content
    strong
      font-size: 20px
      @media screen and (max-width: 1023px)
        font-size: 16px


    max-width: 610px
    @media screen and (max-width: 1919px)
      max-width: 100%

  &__wrap
    @include h(300px, 300px, 250px, auto, auto)
    @extend %fy
    width: 50%
    @media screen and (max-width: 639px)
      width: 85%
      margin: 25px auto 0
    
    	
    







