.product-view
  &__wrap
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 30px

  &__slider-core
    width: 340px

  &__slider-core-item
    width: 340px
    height: 340px
    
  &__slider-pagination
      