{% set page = { title: 'О нас' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}


    {% set  _ = 'about-us-banner' %}
    <div class="{{ _ }}">
        <div class="container">
            <div class="{{ _ }}__wrap">
                <h1 class="h1">О нас</h1>
                <p>
                    Косметика - это неотъемлемая часть жизни каждой женщины. Она помогает подчеркнуть достоинства и скрыть
                    недостатки кожи лица, создать красивый образ и повысить уверенность в себе. Именно поэтому многие
                    знаменитости и модели никогда не выходят на публике без качественной косметики.
                </p>
            </div>
        </div>

    </div>

    {% set  _ = 'about-us-core' %}
    <div class="{{ _ }}">
        <div class="container">
            <div class="{{ _ }}__block">
                <div class="{{ _ }}__content">
                    <p>Сегодня на рынке косметики представлено огромное количество марок, но не все из них заслуживают
                        доверия. Только небольшое число брендов занимается выпуском продукции высокого качества, которая
                        действительно улучшает состояние кожи и создает идеальный макияж.</p>

                </div>
                <div class="{{ _ }}__img">
                    <img src="images/{{ _ }}/1.png" alt=""/>
                </div>
            </div>
            <div class="{{ _ }}__block">
                <div class="{{ _ }}__content">
                    <strong>Одним из таких брендов является марка, созданная всемирно известным визажистом. Он работает
                        с лучшими моделями и знаменитостями, создает неповторимые образы и знает, какой должна быть
                        идеальная косметика.</strong>
                </div>
            </div>
            <div class="{{ _ }}__block {{ _ }}__mobile-right">
                <div class="{{ _ }}__img">
                    <img src="images/{{ _ }}/2.png" alt=""/>
                </div>
                <div class="{{ _ }}__content">
                    <p>Каждый продукт этой марки разработан в соответствии с потребностями и особенностями каждого типа
                        кожи, исходя из опыта профессионального визажиста. Средства не только красиво выглядят на коже,
                        но и действительно ухаживают за ней, делая ее более здоровой и сияющей.</p>
                    <div class="gap"></div>
                    <strong>Бренд не останавливается на достигнутом и постоянно работает над улучшением продукции. В
                        процессе создания новых средств учитываются последние тенденции в индустрии красоты и новые
                        технологии. Таким образом, марка всегда предлагает своим покупателям косметику, которая
                        соответствует самым высоким стандартам качества.</strong>
                </div>
            </div>

        </div>
    </div>


    {% set  _ = 'about-us-footer' %}
    <div class="{{ _ }}">
        <div class="container">
            <div class="{{_}}__wrap">
                <div class="{{_}}__content">
                <strong>
                    Если вы хотите выглядеть на все сто процентов и чувствовать себя уверенно, обратите внимание на продукцию этого бренда. Вы убедитесь, что она действительно является одной из лучших на рынке косметики, и вернете ей свое доверие на долгие годы.
                </strong>
                </div>
            
            </div>
        </div>
    </div>





{% endblock content %}