{% set page = { title: 'О нас (новая)' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}
    {% set  _ = 'about-us-banner' %}
    <div class="{{ _ }}">
        <div class="container">
            <div class="{{ _ }}__wrap">
                <h1 class="h1">О нас</h1>
                <p>Косметика в жизни женщины занимает особое место. Она способна придать уверенность и повысить самооценку. Невозможно просто так пройти мимо витрин с разнообразными тюбиками, флаконами и не захотеть приобрести для себя любимой что-то приятное. С помощью нее можно легко подчеркнуть достоинства и скрыть недостатки на коже лица. Многие знаменитости и модели создают свои лучшие образы благодаря качественной косметике.</p>
            </div>
        </div>

    </div>

    {% set  _ = 'about-us-core' %}
    <div class="{{ _ }}">
        <div class="container">
            <div class="{{ _ }}__block">
                <div class="{{ _ }}__content">
                   <p>Сегодня, среди переполненного косметического рынка, среди масс разнообразных продукций, очень сложно выбрать хорошую продукцию. Ведь для себя любимой хочется всегда самое лучшее. </p>
                    <br>

                    <p> Только небольшое число брендов, по праву, занимаются выпуском продукции высокого качества, которая, действительно, улучшает состояние кожи и создает безупречный макияж.</p>

                </div>
                <div class="{{ _ }}__img">
                    <img src="images/{{ _ }}/1.png" alt=""/>
                </div>
            </div>
            <div class="{{ _ }}__block">
                <div class="{{ _ }}__content">
                    <strong>Одним из таких брендов и является марка, созданная всемирно известным визажистом Гоар Аветисян. Бренд GOAR создает неповторимые образы, и точно знает, какой должна быть идеальная косметика.</strong>
                </div>
            </div>
            <div class="{{ _ }}__block {{ _ }}__mobile-right">
                <div class="{{ _ }}__img">
                    <img src="images/{{ _ }}/3.png" alt=""/>
                </div>
                <div class="{{ _ }}__content">
                    <p>Каждый продукт GOAR разработан в соответствии с потребностями и индивидуальными требованиями,
                        исходя из опыта профессионального визажиста.</p>
                    <div class="gap"></div>
                    <strong>
                        Бренд GOAR не останавливается на достигнутом и постоянно работает над совершенствованием и улучшением своей продукции. В процессе создания новых средств учитываются последние тенденции в индустрии красоты и технологии внедрения инновационных ингредиентов.
                    </strong>
                    <div class="gap"></div>
                    <strong>
                        GOAR всегда предлагает своим покупателям косметику, которая соответствует самым
                        высоким стандартам качества.
                    </strong>

                </div>
            </div>

        </div>
    </div>


    {% set  _ = 'about-us-footer' %}
    <div class="{{ _ }}">
        <div class="container">
            <div class="{{_}}__wrap">
                <div class="{{_}}__content">
                    <strong>
                        С продукцией этого бренда вы будете выглядеть на все 100%, а чувство уверенности будет расти вместе с каждым новым флаконом. Вы убедитесь, что она, действительно, является одной из востребованных на рынке косметики. Начнете ее любить, а доверие к ней подарит
                        уверенность на долгие годы.                    </strong>
                </div>

            </div>
        </div>
    </div>



{% endblock content %}