{% set page = { title: 'Совет' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}
    {% set  _ = 'advices' %}
    <div class="{{ _ }}">
        <div class="container">
            <a href="#" class="{{ _ }}__back">
                <svg xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="18px" height="27px" viewBox="0 0 18 27">
                    <path fill-rule="evenodd" fill="black"
                          d="M16.99997,22.000061 C16.99997,22.000061 13.943359,25.000061 13.943359,25.000061 C13.943359,25.000061 1.9998474,12.9999695 1.9998474,12.9999695 C1.9998474,12.9999695 13.943359,1.0001221 13.943359,1.0001221 C13.943359,1.0001221 16.99997,4.0001526 16.99997,4.0001526 C16.99997,4.0001526 7.999939,12.9999695 7.999939,12.9999695 C7.999939,12.9999695 16.99997,22.000061 16.99997,22.000061 Z"/>
                </svg>
                <strong>Вернуться ко всем советам</strong>
            </a>
            <div class="{{ _ }}__wrap">
                <div class="{{ _ }}__core">
                    <div class="{{ _ }}__article">
                        <div class="{{ _ }}__img img">
                            <img src="images/{{ _ }}/1.jpg" alt=""/>
                        </div>
                        <div class="{{ _ }}__text">
                            <h1 class="h1">LOREM IPSUM DOLOR</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa officia deserunt mollit
                                anim id est laborum.</p>

                            <p>quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                                ratione voluptatem sequi nesciunt.</p>

                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                                velit.</p>

                            <p>sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                quaerat voluptatem.</p>

                            <div class="gap"></div>
                            <div class="{{ _ }}__tags">
                                Теги:
                                <a href="#" class="{{ _ }}__tag">
                                    Ресницы
                                </a>
                                <a href="#" class="{{ _ }}__tag">
                                    Дневной макияж
                                </a>

                            </div>
                        </div>

                    </div>
                    <div class="{{ _ }}__list">


                        <div class="{{ _ }}__item">
                            <div class="{{ _ }}__num">
                                1
                            </div>
                            <div class="gap"></div>
                            <strong>FIRST STEP</strong>
                            <div class="gap"></div>
                            <span>/ Prepare the skin</span>
                            <div class="gap"></div>
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>

                        </div>
                        <div class="{{ _ }}__item">
                            <div class="{{ _ }}__num">
                                2
                            </div>
                            <div class="gap"></div>
                            <strong>SECOND STEP</strong>
                            <div class="gap"></div>
                            <span>/ Moisturise</span>
                            <div class="gap"></div>
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                        </div>

                        <div class="{{ _ }}__item">
                            <div class="{{ _ }}__num">
                                3
                            </div>
                            <div class="gap"></div>
                            <strong>THIRD STEP</strong>
                            <div class="gap"></div>
                            <span>/ Tone</span>
                            <div class="gap"></div>
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>

                        </div>

                    </div>
                    <a href="https://www.youtube.com/watch?v=1NW8LLq-BJc" data-fancybox
                       class="{{ _ }}__video img video">
                        <img src="images/{{ _ }}/2.jpg" alt=""/>
                    </a>

                </div>
                <div class="{{ _ }}__sidebar">
                    <h3 class="h3">Больше советов</h3>
                    {% for i in range(1, 3) %}
                        <div class="{{ _ }}__sidebar-item">
                            <div class="{{ _ }}__sidebar-img img">
                                <img src="images/{{ _ }}/3.jpg" alt=""/>
                            </div>
                            <div class="{{ _ }}__sidebar-text">
                                <h2 class="h2" style="margin-bottom: 10px">LOREM IPSUM <br> DOLOR</h2>
                                <span>Lorem ipsum sit...</span>
                                <div class="gap"></div>
                                <a href="#" class="btn btn--white">ПРОЧИТАТЬ</a>

                            </div>

                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>



{% endblock content %}