{% set page = { title: 'Советы' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}



    <div id="advices-page">
        <div class="content advices-page">
            <div class="content-wrapper">
                <h2 class="revealator-fade revealator-delay5 revealator-duration20">СОВЕТЫ ГОАР</h2>
                <div class="catalog-row">
                    <div class="advices-card"> 
                        <img src="images/advices-page/advices_page_img_1.jpg">
                        <div class="card-content">
                            <div class="card-tags-wrapper">
                                <div class="card-tags-row">
                                    <span class="card-tags-title">Теги:</span>
                                    <span class="card-tags-tag">Стрелки</span>
                                    <span class="card-tags-tag">Вечерний макияж</span>
                                </div>
                            </div>
                            <span class="card-subtitle"></span>
                            <span class="card-title">LOREM IPSUM DOLOR</span>
                            <span class="card-contet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                        </div>
                        <button class="btn">ПРОЧИТАТЬ</button>
                    </div>
                    <div class="advices-card">
                        <img src="images/advices-page/advices_page_img_2.jpg">
                        <div class="card-content">
                            <div class="card-tags-wrapper">
                                <div class="card-tags-row">
                                    <span class="card-tags-title">Теги:</span>
                                    <span class="card-tags-tag">Стрелки</span>
                                    <span class="card-tags-tag">Вечерний макияж</span>
                                </div>
                            </div>
                            <span class="card-subtitle"></span>
                            <span class="card-title">LOREM IPSUM DOLOR</span>
                            <span class="card-contet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                        </div>
                        <button class="btn">ПРОЧИТАТЬ</button>
                    </div>
                    <div class="advices-card">
                        <img src="images/advices-page/advices_page_img_3.jpg">
                        <div class="card-content">
                            <div class="card-tags-wrapper">
                                <div class="card-tags-row">
                                    <span class="card-tags-title">Теги:</span>
                                    <span class="card-tags-tag">Стрелки</span>
                                    <span class="card-tags-tag">Вечерний макияж</span>
                                </div>
                            </div>
                            <span class="card-subtitle"></span>
                            <span class="card-title">LOREM IPSUM DOLOR</span>
                            <span class="card-contet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                        </div>
                        <button class="btn">ПРОЧИТАТЬ</button>
                    </div>
                </div>
                <div class="catalog-row" style="margin-top:50px">
                    <div class="advices-card">
                        <img src="images/advices-page/advices_page_img_1.jpg">
                        <div class="card-content">
                            <div class="card-tags-wrapper">
                                <div class="card-tags-row">
                                    <span class="card-tags-title">Теги:</span>
                                    <span class="card-tags-tag">Стрелки</span>
                                    <span class="card-tags-tag">Вечерний макияж</span>
                                </div>
                            </div>
                            <span class="card-subtitle"></span>
                            <span class="card-title">LOREM IPSUM DOLOR</span>
                            <span class="card-contet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                        </div>
                        <button class="btn">ПРОЧИТАТЬ</button>
                    </div>
                    <div class="advices-card">
                        <img src="images/advices-page/advices_page_img_2.jpg">
                        <div class="card-content">
                            <div class="card-tags-wrapper">
                                <div class="card-tags-row">
                                    <span class="card-tags-title">Теги:</span>
                                    <span class="card-tags-tag">Стрелки</span>
                                    <span class="card-tags-tag">Вечерний макияж</span>
                                </div>
                            </div>
                            <span class="card-subtitle"></span>
                            <span class="card-title">LOREM IPSUM DOLOR</span>
                            <span class="card-contet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                        </div>
                        <button class="btn">ПРОЧИТАТЬ</button>
                    </div>
                    <div class="advices-card">
                        <img src="images/advices-page/advices_page_img_3.jpg">
                        

                        <div class="card-content">
                            <div class="card-tags-wrapper">
                                <div class="card-tags-row">
                                    <span class="card-tags-title">Теги:</span>
                                    <span class="card-tags-tag">Стрелки</span>
                                    <span class="card-tags-tag">Вечерний макияж</span>
                                </div>
                            </div>
                            <span class="card-subtitle"></span>
                            <span class="card-title">LOREM IPSUM DOLOR</span>
                            <span class="card-contet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                        </div>
                        <button class="btn">ПРОЧИТАТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}