{% set page = { title: 'Каталог' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}


    {% set  _ = 'catalog-banner' %}
    <div class="{{ _ }}">
        <div class="container">
            <div class="{{ _ }}__wrap">
                <h1 class="h1">ПРОДУКТЫ</h1>
            </div>
        </div>
    </div>

    {% set  _ = 'catalog' %}
    <div id="catalog-page">
        <div class="content catalog-page">
            <div class="content-wrapper">
                <div class="{{ _ }}__wrap">
                    <div class="{{ _ }}__banner img">
                        <img src="images/{{ _ }}/1.jpg" alt=""/>
                        <div class="{{ _ }}__text">
                            губы
                        </div>
                    </div>
                    <div class="{{ _ }}__list">
                        {% set  list = [{
                            title: 'Карандаш для губ',
                            subtitle: 'cappuccino'

                        },    {
                            title: 'Карандаш для глаз',
                            subtitle: 'FRESH BLUE'
                        },   {
                            title: 'Карандаш для бровей',
                            subtitle: 'TAUPE'
                        },   {
                            title: 'Карандаш для губ',
                            subtitle: 'rolls royce'
                        },   {
                            title: 'Карандаш для бровей',
                            subtitle: 'DARK BROWN'
                        },   {
                            title: 'Карандаш для губ',
                            subtitle: 'NUDE ROSE'
                        }] %}

                        {% for item in list %}
                            <div class="{{ _ }}__item">
                                <div class="{{ _ }}__img img img--contain">
                                    <img src="images/{{ _ }}/{{ loop.index }}.png" alt=""/>
                                </div>
                                <div class="{{ _ }}__title">
                                    <span>{{ item.title }}</span>
                                    <strong>{{ item.subtitle }}</strong>
                                </div>

                                <div class="{{ _ }}__price">
                                    <strong>1090₽ </strong>
                                    <span>1990 ₽</span>
                                </div>
                                <a href="#" class="btn">
                                    В КОРЗИНУ
                                </a>
                            </div>

                        {% endfor %}
                    </div>

                </div>
                <div class="{{ _ }}__wrap">
                    <div class="{{ _ }}__banner img">
                        <img src="images/{{ _ }}/2.jpg" alt=""/>
                        <div class="{{ _ }}__text">
                            глаза
                        </div>
                    </div>
                    <div class="{{ _ }}__list">
                        {% set  list = [{
                            title: 'Карандаш для губ',
                            subtitle: 'cappuccino'

                        },    {
                            title: 'Карандаш для глаз',
                            subtitle: 'FRESH BLUE'
                        },   {
                            title: 'Карандаш для бровей',
                            subtitle: 'TAUPE'
                        },   {
                            title: 'Карандаш для губ',
                            subtitle: 'rolls royce'
                        },   {
                            title: 'Карандаш для бровей',
                            subtitle: 'DARK BROWN'
                        },   {
                            title: 'Карандаш для губ',
                            subtitle: 'NUDE ROSE'
                        }] %}

                        {% for item in list %}
                            <div class="{{ _ }}__item">
                                <div class="{{ _ }}__img img img--contain">
                                    <img src="images/{{ _ }}/{{ loop.index }}.png" alt=""/>
                                </div>
                                <div class="{{ _ }}__title">
                                    <span>{{ item.title }}</span>
                                    <strong>{{ item.subtitle }}</strong>
                                </div>

                                <div class="{{ _ }}__price">
                                    <strong>1090₽ </strong>
                                    <span>1990 ₽</span>
                                </div>
                                <a href="#" class="btn">
                                    В КОРЗИНУ
                                </a>
                            </div>

                        {% endfor %}
                    </div>

                </div>
                <div class="{{ _ }}__wrap">
                    <div class="{{ _ }}__banner img">
                        <img src="images/{{ _ }}/3.jpg" alt=""/>
                        <div class="{{ _ }}__text">
                            брови
                        </div>
                    </div>
                    <div class="{{ _ }}__list">
                        {% set  list = [{
                            title: 'Карандаш для губ',
                            subtitle: 'cappuccino'

                        },    {
                            title: 'Карандаш для глаз',
                            subtitle: 'FRESH BLUE'
                        },   {
                            title: 'Карандаш для бровей',
                            subtitle: 'TAUPE'
                        },   {
                            title: 'Карандаш для губ',
                            subtitle: 'rolls royce'
                        },   {
                            title: 'Карандаш для бровей',
                            subtitle: 'DARK BROWN'
                        },   {
                            title: 'Карандаш для губ',
                            subtitle: 'NUDE ROSE'
                        }] %}

                        {% for item in list %}
                            <div class="{{ _ }}__item">
                                <div class="{{ _ }}__img img img--contain">
                                    <img src="images/{{ _ }}/{{ loop.index }}.png" alt=""/>
                                </div>
                                <div class="{{ _ }}__title">
                                    <span>{{ item.title }}</span>
                                    <strong>{{ item.subtitle }}</strong>
                                </div>

                                <div class="{{ _ }}__price">
                                    <strong>1090₽ </strong>
                                    <span>1990 ₽</span>
                                </div>
                                <a href="#" class="btn">
                                    В КОРЗИНУ
                                </a>
                            </div>

                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock content %}



