{% set page = { title: 'Ссылки' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}
    <style>
        .ancors {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .ancors .btn {
            max-width: 100%;
            width: 100%;
            justify-content: flex-start;
            margin-bottom: 10px;
            display: flex
        }


    </style>

    {% set  list = [{
        title: 'О нас',
        subtitle: 'about-us'
    },{
        title: 'Карточка товара',
        subtitle: 'product-view'
    },{
        title: 'Совет',
        subtitle: 'advices-page'
    },{
        title: 'Связаться с нами',
        subtitle: 'contact-us'
    }] %}

    <div class="container">
        <div class="ancors section">
            {% for item in list %}
                <a href="{{ item.subtitle }}.html" class="btn" style="width: 100%">{{ item.title }}</a>
            {% endfor %}
        </div>
    </div>


<div class="container">
    <h2 class="h2">25.06</h2>
</div>


    {% set  list = [{
        title: 'Главная',
        subtitle: 'general'
    }] %}

    <div class="container">
        <div class="ancors section">
            {% for item in list %}
                <a href="{{ item.subtitle }}.html" class="btn" style="width: 100%">{{ item.title }}</a>
            {% endfor %}
        </div>
    </div>






{% endblock content %}