{% set page = { title: 'Восстановление пароля' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}
    {% set  _ = 'login' %}
    <div class="{{ _ }}">
        <div class="{{_}}__topline">
            <a href="#" class="{{_}}__topline-button">
                Авторизация
            </a>
            <a href="#" class="{{_}}__topline-button">
                Регистрация
            </a>
        </div>
    </div>

    {% set  _ = 'password-reset' %}
    <div class="{{ _ }}">
        <div class="container">
            <div class="{{ _ }}__wrap">
                <div class="{{_}}__title">
                    <span>Запрос пароля</span>
                </div>
                <div class="{{_}}__subtitle">
                    Выслать контрольную строку
                </div>
                <div class="{{_}}__sign">
                    Выберите, какую информацию использовать <br>
                    для изменения пароля:
                </div>
                
                
                <form action="#" class="{{_}}__form">
                    <div class="{{_}}__input-title">
                        Логин или email
                    </div>
                    <input type="text" class="input">
                    <button class="btn">ВЫСЛАТЬ</button>
                    <div class="{{_}}__sign" style="margin-bottom: 0">
                        Контрольная строка для смены пароля, а также ваши
                        регистрационные данные, будут высланы вам на email.
                    </div>
                
                </form>

            </div>
        </div>
    </div>


{% endblock content %}